@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');



* {
  box-sizing: border-box !important;
  max-width: 100% !important;
  font-family: 'Inter', sans-serif !important;
}

select {

  outline: none !important;
}

img {
  height: auto !important;
}

body {
  margin: 0;

}

.select {
  background-color: #f2f2f2;
  /* set the background to light grey */
}

.select:hover {
  background-color: #fff;
  /* add a light whiteish effect on hover */
}

.select option:hover {
  background-color: #f2f2f2;
  /* remove the default blue hover effect */
}



.option {
  background-color: #f2f2f2;
  /* set the background to light grey */
  color: #333;
  /* set text color */
}

.option:hover {
  background-color: #fff;
  /* add a light whiteish effect on hover */
}

.bg-white {
  border-left: 5px solid black !important;
  background-color: transparent !important;
  width: 0.5rem;
  margin-right: auto;
  transform: rotate(180deg) !important;

}


.bg-blue-gray-50 {
  background-color: transparent !important;
}

.shadow {
  --tw-shadow: 0;
  --tw-shadow-colored: 0;
  box-shadow: 0;
}

.text-blue-gray-900 {
  width: 6.8rem;
  height: 1.9rem;
  margin-left: -0.4rem;

}

.modal-box {
  width: 27rem;
  height: 25rem;
  border-radius: 6px;
}

.modal-box::-webkit-scrollbar {
  display: none;
}


@media(max-width:650px) {
  .modal-box {
    width: 21rem;
  }
}

/*  TABS HOLD */
.bg-blue-gray-50 {
  flex-direction: column;
  width: 13rem;
  background: linear-gradient(0deg, #F4F4F5, #F4F4F5),
    linear-gradient(0deg, #FAFAFA, #FAFAFA) !important;

  height: 19rem;
  text-align: left;
  gap: 2.7rem;
  align-items: flex-start;
  justify-content: center;
}


.css-12sjb1l {
  width: 16% !important;
}

.css-7roig {
  position: relative;
  top: -0.12rem;
  left: -0.112rem;

}

.css-p27qcy[aria-checked=true],
.css-p27qcy[data-checked] {
  background: rgba(79, 70, 229, 1);

}

.css-7roig[aria-checked=true],
.css-7roig[data-checked] {

  border: 3px solid rgba(79, 70, 229, 1) !important;
}


.css-1ss3utg[aria-selected=true],
.css-1ss3utg[data-selected] {
  background-color: #EEF2FF !important;
  color: #4338CA !important;
  width: 6rem;
  border-radius: 7px;
}



.purpleColor {
  color: #4F46E5;
}

.purpleBg {
  background-color: #4F46E5;
}

[type="checkbox"],
[type="radio"] {
  border: 1px solid EEF2FF;
}

.radio-primary:checked,
.radio-primary[aria-checked=true] {
  background-color: white;
  border: 5px solid #4F46E5;
}


.css-13cymwt-control {
  width: 13rem;
  outline: none !important;
}

.css-b62m3t-container {
  width: 12rem;
  outline: none !important;
}

textarea {
  outline: none !important;
}

.z-20 {
  color: #A1A1AA;

}

.css-1o3pyl4 {
  width: 22% !important;
  box-shadow: 0 40px 31px 0 rgba(0, 0, 0, .17), 0 1px 2px 0 rgb(0 0 0/6%) !important;
  z-index: 999999999;
}

@media(max-width:700px) {
  .css-1o3pyl4 {
    width: 68% !important;
    box-shadow: 0 40px 31px 0 rgba(0, 0, 0, .17), 0 1px 2px 0 rgb(0 0 0/6%) !important;
    z-index: 999999999;
  }

  .css-1wydwfg {
    display: none;
  }
}


.mobNav{
  display: none !important;
}

@media(max-width: 800px){
  .mobNavDIsappear{
    display: none !important;
  }

  .mobNav{
    display: block !important;
  }
}

@media(max-width:650px){
  .css-dixmdy{
    position: relative;
  }
}

.w41rem{
  width: 41rem;
}

.w39rem{
  width: 39.8rem;

}
